img{
    width: 300px;
}
body {
    text-align:center;
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;
    Background: rgb(35, 35, 35);
    Color: rgb(255, 255, 181);
}