img {
    width: 220px;
}
body {
    text-align: center;
    font-family: 'Times New Roman';
    color: rgb(199, 164, 171);
    background: rgb(7, 54, 194);
}
p {
    text-align: left;
    font-family: 'Arial';
    color: white;
    background: rgb(7, 54, 194);
}
